<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/auth/register}" method="post" th:object="${userDTO}">
    <div>
        <label>Facility Code:</label>
        <input type="text" th:field="*{facilityCode}" />
    </div>
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}" />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
</body>
</html>
